### 가축사육현황 EDA
---


데이터분석 목적

- “분기별 가축사육현황”
- ‘마리수-번식우’, ‘번식우’,‘마리수’,’번식우가 아닌 소 중 1세 미만(암,수) 제외’에 해당하는 값을 사용할 예정.
- 번식우: 기르기 위한 소이기 때문에 제외한 값도 확인해보고자함
- 1세 미만(암,수)는 출하 월령에 미치지 못하기 때문.
- ‘마리수-번식우’,’마리수’ 각각 y값과 EDA


데이터 셋 분석 기간
- 2013.01.01 ~ 2018.12.31

In [55]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [56]:
breeding_status_data = pd.read_csv("./data/02. 가축사육현황.csv", encoding="cp949")
target_data = pd.read_csv("./data/01. 축산물 실시간 경매시황중계정보.csv", encoding="cp949")

print(f"Breeding status Columns \n  {breeding_status_data.columns}")
print()
print(f"Target data columns \n {target_data.columns}")

Breeding status Columns
  Index(['Unnamed: 0', '연도', '월', '마리수', '번식우', '1세미만(암)', '1세미만(수)', '1~2세(암)',
       '1~2세(수)', '2세이상(암)', '2세이상(수)'],
      dtype='object')

Target data columns
 Index(['경매시간', '경매기준시분초', '경매 구분', '경매 구분 명', '도매시장코드', '도매시장명', '한우 평균경매 금액',
       '한우 평균경매 금액_상승하강', '한우 1B+ 경매단가', '한우 3B 경매단가', '한우 경매 예상 두수',
       '한우 경매 낙찰 두수', '육우 경매 금액', '육우 전날 경매금액 차이', '육우 경매 예상 두수', '육우 경매 두수',
       '돼지 박피 경매 금액', '돼지 박피 전날 경매금액 차이', '돼지 박피 경매 두수', '돼지 탕박 경매 금액',
       '돼지 탕박 전날 경매금액 차이', '돼지 탕박 경매 두수', '돼지 경매 두수'],
      dtype='object')

In [60]:
# Create Data Profile Report
breeding_data_profile = status_df.profile_report()
breeding_data_profile.to_file("./data/breeding_status_report.html")

target_data_profile = target_data.profile_report()
target_data_profile.to_file("./data/축산물_실시간_경매시황중계정보.html")

In [53]:
target_data = target_data[["경매시간", "한우 평균경매 금액"]]
print(f"Target Data shape : {target_data.shape}")
target_data.head()

Target Data shape : (34957, 2)

       경매시간  한우 평균경매 금액
0  20181007           0
1  20181007           0
2  20181007           0
3  20181007           0
4  20181007           0

In [54]:
print("Target Data Statistics Summary")
target_data.describe()

Target Data Statistics Summary

               경매시간    한우 평균경매 금액
count  3.495700e+04  34957.000000
mean   2.013907e+07   5533.391853
std    1.102310e+04   6828.696050
min    2.013010e+07      0.000000
25%    2.013073e+07      0.000000
50%    2.014022e+07      0.000000
75%    2.014092e+07  13190.000000
max    2.018101e+07  23111.000000

In [36]:
# Drop Unnamed field
status_df = breeding_status_data[['연도', '월', '마리수', '번식우', '1세미만(암)', '1세미만(수)', '1~2세(암)',
       '1~2세(수)', '2세이상(암)', '2세이상(수)']]

In [ ]:
# Simple Data Profile Report
breeding_data_profile = status_df.profile_report()
bredding_data_profile.to_file("./data/breeding_status_report.html")
target_data_profile

In [37]:
print(f"Data Shape : {status_df.shape}")
status_df.head()

Data Shape : (80, 10)

     연도   월    마리수    번식우  1세미만(암)  1세미만(수)  1~2세(암)  1~2세(수) 2세이상(암)  2세이상(수)
0  2000   3  1,819  1,142      262      384      239      222     690       22
1  2000   6  1,801  1,118      271      395      215      219     678       23
2  2000   9  1,713  1,051      258      384      199      213     639       20
3  2000  12  1,590    973      237      352      188      202     593       18
4  2001   3  1,476    899      211      329      172      189     556       19

In [38]:
# convert string value to interger

status_df["마리수"] = status_df["마리수"].apply(lambda x : int(x.replace(",", "")))
status_df["번식우"] = status_df["번식우"].apply(lambda x : int(x.replace(",", "")))

/Users/hongnadan/opt/anaconda3/envs/livestock-solution-project/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/hongnadan/opt/anaconda3/envs/livestock-solution-project/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [39]:
status_df.head()

     연도   월   마리수   번식우  1세미만(암)  1세미만(수)  1~2세(암)  1~2세(수) 2세이상(암)  2세이상(수)
0  2000   3  1819  1142      262      384      239      222     690       22
1  2000   6  1801  1118      271      395      215      219     678       23
2  2000   9  1713  1051      258      384      199      213     639       20
3  2000  12  1590   973      237      352      188      202     593       18
4  2001   3  1476   899      211      329      172      189     556       19

In [40]:
print("Data Statistics Summary")
status_df.describe()

Data Statistics Summary

                연도          월          마리수  ...     1~2세(암)    1~2세(수)     2세이상(수)
count    80.000000  80.000000    80.000000  ...   80.000000   80.00000   80.000000
mean   2009.500000   7.500000  2436.087500  ...  298.825000  356.32500  146.750000
std       5.802662   3.375264   655.862331  ...  100.259382  113.42301  103.296121
min    2000.000000   3.000000  1337.000000  ...  141.000000  178.00000   17.000000
25%    2004.750000   5.250000  1790.000000  ...  198.750000  236.50000   32.000000
50%    2009.500000   7.500000  2673.500000  ...  329.000000  391.50000  168.500000
75%    2014.250000   9.750000  3022.000000  ...  395.000000  466.25000  236.000000
max    2019.000000  12.000000  3269.000000  ...  442.000000  514.00000  344.000000

[8 rows x 9 columns]

In [41]:
print("===Check Data Missing Values=====")
status_df.isna().any()

===Check Data Missing Values=====

연도         False
월          False
마리수        False
번식우        False
1세미만(암)    False
1세미만(수)    False
1~2세(암)    False
1~2세(수)    False
2세이상(암)    False
2세이상(수)    False
dtype: bool

결측치 존재 x

### To Do 
---

1. Y & 가축현황 Date 별로 맞춰서 DataSet 만들기
2. Correlation 분석 
3. Visualization으로 정리.