In [1]:
import pandas as pd
import numpy as np

In [39]:
# 경고메세지 무시
import warnings
warnings.filterwarnings(action='ignore')

# 날씨 관측 데이터와 한우 경매가격과의 상관성 분석

In [2]:
# 데이터 로드
weather = pd.read_csv("C:/Users/joyh1/Desktop/DSC/DSC_음메/cow_data/관측데이터.csv", encoding='utf-8')
cow_price = pd.read_excel("C:/Users/joyh1/Desktop/DSC/DSC_음메/cow_data/축산물 실시간 경매시황중계정보.xlsx")

## 날씨 관측 데이터 EDA

In [3]:
weather.shape

(1537840, 60)

In [4]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1537840 entries, 0 to 1537839
Data columns (total 60 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   도                    1537840 non-null  object
 1   지역                   1537840 non-null  object
 2   일시                   1537840 non-null  object
 3   평균기온(°C)             1520260 non-null  float64
 4   최저기온(°C)             1522829 non-null  float64
 5   최저기온 시각(hhmi)        1391238 non-null  float64
 6   최고기온(°C)             1522863 non-null  float64
 7   최고기온 시각(hhmi)        1391257 non-null  float64
 8   강수 계속시간(hr)          377705 non-null   float64
 9   10분 최다 강수량(mm)       330785 non-null   float64
 10  10분 최다강수량 시각(hhmi)   248265 non-null   float64
 11  1시간 최다강수량(mm)        354936 non-null   float64
 12  1시간 최다 강수량 시각(hhmi)  272862 non-null   float64
 13  일강수량(mm)             569557 non-null   float64
 14  최대 순간 풍속(m/s)        1070438 non-null  float64
 15  최대 순간 풍속 풍향(16방위)    1368863 non-null  float64
 16  최대 순간풍속 시각(hhmi)     1069419 non-null  float64
 17  최대 풍속(m/s)           1500711 non-null  float64
 18  최대 풍속 풍향(16방위)       1504739 non-null  float64
 19  최대 풍속 시각(hhmi)       1414826 non-null  float64
 20  평균 풍속(m/s)           1504388 non-null  float64
 21  풍정합(100m)            1486089 non-null  float64
 22  평균 이슬점온도(°C)         1338800 non-null  float64
 23  최소 상대습도(%)           1466704 non-null  float64
 24  최소 상대습도 시각(hhmi)     1332184 non-null  float64
 25  평균 상대습도(%)           1502954 non-null  float64
 26  평균 증기압(hPa)          1502719 non-null  float64
 27  평균 현지기압(hPa)         1465093 non-null  float64
 28  최고 해면기압(hPa)         1165870 non-null  float64
 29  최고 해면기압 시각(hhmi)     1064709 non-null  float64
 30  최저 해면기압(hPa)         1166213 non-null  float64
 31  최저 해면기압 시각(hhmi)     1065241 non-null  float64
 32  평균 해면기압(hPa)         1300071 non-null  float64
 33  가조시간(hr)             1332953 non-null  float64
 34  합계 일조 시간(hr)         1493141 non-null  float64
 35  1시간 최다일사 시각(hhmi)    349760 non-null   float64
 36  1시간 최다일사량(MJ/m2)     349857 non-null   float64
 37  합계 일사(MJ/m2)         499763 non-null   float64
 38  일 최심신적설(cm)          46663 non-null    float64
 39  일 최심신적설 시각(hhmi)     43705 non-null    float64
 40  일 최심적설(cm)           74702 non-null    float64
 41  일 최심적설 시각(hhmi)      72310 non-null    float64
 42  합계 3시간 신적설(cm)       40440 non-null    float64
 43  평균 전운량(1/10)         1202870 non-null  float64
 44  평균 중하층운량(1/10)       874807 non-null   float64
 45  평균 지면온도(°C)          1432939 non-null  float64
 46  최저 초상온도(°C)          1454598 non-null  float64
 47  평균 5cm 지중온도(°C)      852305 non-null   float64
 48  평균 10cm 지중온도(°C)     881436 non-null   float64
 49  평균 20cm 지중온도(°C)     879415 non-null   float64
 50  평균 30cm 지중온도(°C)     878722 non-null   float64
 51  0.5m 지중온도(°C)        814920 non-null   float64
 52  1.0m 지중온도(°C)        797351 non-null   float64
 53  1.5m 지중온도(°C)        416292 non-null   float64
 54  3.0m 지중온도(°C)        341579 non-null   float64
 55  5.0m 지중온도(°C)        331185 non-null   float64
 56  합계 대형증발량(mm)         306765 non-null   float64
 57  합계 소형증발량(mm)         899965 non-null   float64
 58  9-9강수(mm)            407995 non-null   float64
 59  안개 계속시간(hr)          93697 non-null    float64
dtypes: float64(57), object(3)
memory usage: 704.0+ MB

In [5]:
# 결측치 집계
weather.isnull().sum()

# 결측치가 매우매우 많다...

도                            0
지역                           0
일시                           0
평균기온(°C)                 17580
최저기온(°C)                 15011
최저기온 시각(hhmi)           146602
최고기온(°C)                 14977
최고기온 시각(hhmi)           146583
강수 계속시간(hr)            1160135
10분 최다 강수량(mm)         1207055
10분 최다강수량 시각(hhmi)     1289575
1시간 최다강수량(mm)          1182904
1시간 최다 강수량 시각(hhmi)    1264978
일강수량(mm)                968283
최대 순간 풍속(m/s)           467402
최대 순간 풍속 풍향(16방위)       168977
최대 순간풍속 시각(hhmi)        468421
최대 풍속(m/s)               37129
최대 풍속 풍향(16방위)           33101
최대 풍속 시각(hhmi)          123014
평균 풍속(m/s)               33452
풍정합(100m)                51751
평균 이슬점온도(°C)            199040
최소 상대습도(%)               71136
최소 상대습도 시각(hhmi)        205656
평균 상대습도(%)               34886
평균 증기압(hPa)              35121
평균 현지기압(hPa)             72747
최고 해면기압(hPa)            371970
최고 해면기압 시각(hhmi)        473131
최저 해면기압(hPa)            371627
최저 해면기압 시각(hhmi)        472599
평균 해면기압(hPa)            237769
가조시간(hr)                204887
합계 일조 시간(hr)             44699
1시간 최다일사 시각(hhmi)      1188080
1시간 최다일사량(MJ/m2)       1187983
합계 일사(MJ/m2)           1038077
일 최심신적설(cm)            1491177
일 최심신적설 시각(hhmi)       1494135
일 최심적설(cm)             1463138
일 최심적설 시각(hhmi)        1465530
합계 3시간 신적설(cm)         1497400
평균 전운량(1/10)            334970
평균 중하층운량(1/10)          663033
평균 지면온도(°C)             104901
최저 초상온도(°C)              83242
평균 5cm 지중온도(°C)         685535
평균 10cm 지중온도(°C)        656404
평균 20cm 지중온도(°C)        658425
평균 30cm 지중온도(°C)        659118
0.5m 지중온도(°C)           722920
1.0m 지중온도(°C)           740489
1.5m 지중온도(°C)          1121548
3.0m 지중온도(°C)          1196261
5.0m 지중온도(°C)          1206655
합계 대형증발량(mm)           1231075
합계 소형증발량(mm)            637875
9-9강수(mm)              1129845
안개 계속시간(hr)            1444143
dtype: int64

In [9]:
# 모든 칼럼 다 보기
pd.options.display.max_columns = 60
weather.head(5)

,도,지역,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),1시간 최다강수량(mm),1시간 최다 강수량 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),최대 순간 풍속 풍향(16방위),최대 순간풍속 시각(hhmi),최대 풍속(m/s),최대 풍속 풍향(16방위),최대 풍속 시각(hhmi),평균 풍속(m/s),풍정합(100m),평균 이슬점온도(°C),최소 상대습도(%),최소 상대습도 시각(hhmi),평균 상대습도(%),평균 증기압(hPa),평균 현지기압(hPa),최고 해면기압(hPa),최고 해면기압 시각(hhmi),최저 해면기압(hPa),최저 해면기압 시각(hhmi),평균 해면기압(hPa),가조시간(hr),합계 일조 시간(hr),1시간 최다일사 시각(hhmi),1시간 최다일사량(MJ/m2),합계 일사(MJ/m2),일 최심신적설(cm),일 최심신적설 시각(hhmi),일 최심적설(cm),일 최심적설 시각(hhmi),합계 3시간 신적설(cm),평균 전운량(1/10),평균 중하층운량(1/10),평균 지면온도(°C),최저 초상온도(°C),평균 5cm 지중온도(°C),평균 10cm 지중온도(°C),평균 20cm 지중온도(°C),평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr)
0,강원도,강릉,1911-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,강원도,강릉,1911-10-04,NaN,12.2,NaN,26.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강원도,강릉,1911-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,강원도,강릉,1911-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,강원도,강릉,1911-10-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
weather.columns

Index(['도', '지역', '일시', '평균기온(°C)', '최저기온(°C)', '최저기온 시각(hhmi)', '최고기온(°C)',
       '최고기온 시각(hhmi)', '강수 계속시간(hr)', '10분 최다 강수량(mm)', '10분 최다강수량 시각(hhmi)',
       '1시간 최다강수량(mm)', '1시간 최다 강수량 시각(hhmi)', '일강수량(mm)', '최대 순간 풍속(m/s)',
       '최대 순간 풍속 풍향(16방위)', '최대 순간풍속 시각(hhmi)', '최대 풍속(m/s)', '최대 풍속 풍향(16방위)',
       '최대 풍속 시각(hhmi)', '평균 풍속(m/s)', '풍정합(100m)', '평균 이슬점온도(°C)',
       '최소 상대습도(%)', '최소 상대습도 시각(hhmi)', '평균 상대습도(%)', '평균 증기압(hPa)',
       '평균 현지기압(hPa)', '최고 해면기압(hPa)', '최고 해면기압 시각(hhmi)', '최저 해면기압(hPa)',
       '최저 해면기압 시각(hhmi)', '평균 해면기압(hPa)', '가조시간(hr)', '합계 일조 시간(hr)',
       '1시간 최다일사 시각(hhmi)', '1시간 최다일사량(MJ/m2)', '합계 일사(MJ/m2)', '일 최심신적설(cm)',
       '일 최심신적설 시각(hhmi)', '일 최심적설(cm)', '일 최심적설 시각(hhmi)', '합계 3시간 신적설(cm)',
       '평균 전운량(1/10)', '평균 중하층운량(1/10)', '평균 지면온도(°C)', '최저 초상온도(°C)',
       '평균 5cm 지중온도(°C)', '평균 10cm 지중온도(°C)', '평균 20cm 지중온도(°C)',
       '평균 30cm 지중온도(°C)', '0.5m 지중온도(°C)', '1.0m 지중온도(°C)', '1.5m 지중온도(°C)',
       '3.0m 지중온도(°C)', '5.0m 지중온도(°C)', '합계 대형증발량(mm)', '합계 소형증발량(mm)',
       '9-9강수(mm)', '안개 계속시간(hr)'],
      dtype='object')

---
* 필요한 칼럼은 날짜(시간), 기온, 습도와 관련된 칼럼이다.
    * 날짜(시간) 관련 칼럼
        - 일시
    * 기온 관련 칼럼
        - 평균기온, 최저기온, 최고기온
        - 합계 일조 시간, 1시간 최다일사량, 합계 일사
        - 평균 지면온도
        - *`일사(日射): 태양의 복사 에너지가 땅에 닿았을 때의 세기`*
    * 습도 관련 칼럼
        - 일강수량, 1시간 최다강수량, 10분 최다 강수량
        - 최소 상대습도, 평균 상대습도, 
    * 기타 필요할 수도 있을 칼럼
        - 도, 지역

In [10]:
# 필요한 칼럼 추출
columns = ['도','지역','일시','평균기온(°C)', '최저기온(°C)','최고기온(°C)','합계 일조 시간(hr)',
          '1시간 최다일사량(MJ/m2)','합계 일사(MJ/m2)','평균 지면온도(°C)','일강수량(mm)',
          '1시간 최다강수량(mm)','10분 최다 강수량(mm)','최소 상대습도(%)','평균 상대습도(%)']
weather = weather[columns].copy()
weather.head()

,도,지역,일시,평균기온(°C),최저기온(°C),최고기온(°C),합계 일조 시간(hr),1시간 최다일사량(MJ/m2),합계 일사(MJ/m2),평균 지면온도(°C),일강수량(mm),1시간 최다강수량(mm),10분 최다 강수량(mm),최소 상대습도(%),평균 상대습도(%)
0,강원도,강릉,1911-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,강원도,강릉,1911-10-04,NaN,12.2,26.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강원도,강릉,1911-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,강원도,강릉,1911-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,강원도,강릉,1911-10-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# 일시 데이터가 객체 이므로 Datetime으로 변환
weather['일시'] = pd.to_datetime(weather['일시'])
weather.dtypes

도                           object
지역                          object
일시                  datetime64[ns]
평균기온(°C)                   float64
최저기온(°C)                   float64
최고기온(°C)                   float64
합계 일조 시간(hr)               float64
1시간 최다일사량(MJ/m2)           float64
합계 일사(MJ/m2)               float64
평균 지면온도(°C)                float64
일강수량(mm)                   float64
1시간 최다강수량(mm)              float64
10분 최다 강수량(mm)             float64
최소 상대습도(%)                 float64
평균 상대습도(%)                 float64
dtype: object

In [29]:
# 일시 기준으로 2013-01-01 ~ 2018-12-31 데이터만 추출
df_weather = weather[weather['일시'].isin(pd.date_range(start='2013-01-01', end='2018-12-31'))]

# 인덱스 리셋팅
df_weather = df_weather.reset_index(drop=True)
df_weather.head()

,도,지역,일시,평균기온(°C),최저기온(°C),최고기온(°C),합계 일조 시간(hr),1시간 최다일사량(MJ/m2),합계 일사(MJ/m2),평균 지면온도(°C),일강수량(mm),1시간 최다강수량(mm),10분 최다 강수량(mm),최소 상대습도(%),평균 상대습도(%)
0,강원도,강릉,2013-01-01,-1.9,-6.7,3.8,6.5,1.71,8.97,-1.2,NaN,NaN,NaN,39.0,50.6
1,강원도,강릉,2013-01-02,-6.0,-9.9,-1.3,8.9,2.01,11.62,-2.2,0.5,NaN,NaN,15.0,29.9
2,강원도,강릉,2013-01-03,-7.5,-11.1,-0.7,9.0,2.02,11.66,-4.4,NaN,NaN,NaN,14.0,25.8
3,강원도,강릉,2013-01-04,-4.9,-10.6,1.8,9.0,1.98,11.57,-4.3,NaN,NaN,NaN,15.0,31.1
4,강원도,강릉,2013-01-05,-1.7,-5.4,2.8,8.9,1.95,11.31,-3.0,NaN,NaN,NaN,20.0,30.4

In [30]:
# 추출한 데이터 결측치 다시 집계해보기
df_weather.isnull().sum()

도                        0
지역                       0
일시                       0
평균기온(°C)               199
최저기온(°C)                28
최고기온(°C)                36
합계 일조 시간(hr)           319
1시간 최다일사량(MJ/m2)    119447
합계 일사(MJ/m2)        119446
평균 지면온도(°C)            238
일강수량(mm)            130759
1시간 최다강수량(mm)       159321
10분 최다 강수량(mm)      159334
최소 상대습도(%)              68
평균 상대습도(%)             334
dtype: int64

- 똑같은 현상을 의미하는 여러가지 칼럼 중 결측치가 많은 칼럼 삭제
    * 기온을 나타내는 칼럼 중 **1시간 최다일사량, 합계 일사** 삭제
    * 우리가 진짜 원하는 칼럼은 **`습도`** 이므로 비온날**만** 기록되는 강수량 관련 칼럼 삭제
        * **일강수량, 1시간 최대강수량, 10분 최다 강수량** 삭제

In [31]:
df_weather = df_weather.drop(['1시간 최다일사량(MJ/m2)','합계 일사(MJ/m2)','일강수량(mm)','10분 최다 강수량(mm)',
                '1시간 최다강수량(mm)'], axis=1).copy()
df_weather

,도,지역,일시,평균기온(°C),최저기온(°C),최고기온(°C),합계 일조 시간(hr),평균 지면온도(°C),최소 상대습도(%),평균 상대습도(%)
0,강원도,강릉,2013-01-01,-1.9,-6.7,3.8,6.5,-1.2,39.0,50.6
1,강원도,강릉,2013-01-02,-6.0,-9.9,-1.3,8.9,-2.2,15.0,29.9
2,강원도,강릉,2013-01-03,-7.5,-11.1,-0.7,9.0,-4.4,14.0,25.8
3,강원도,강릉,2013-01-04,-4.9,-10.6,1.8,9.0,-4.3,15.0,31.1
4,강원도,강릉,2013-01-05,-1.7,-5.4,2.8,8.9,-3.0,20.0,30.4
...,...,...,...,...,...,...,...,...,...,...
205700,충청북도,충주,2018-12-27,-7.9,-10.7,-3.0,7.9,-2.7,13.0,27.1
205701,충청북도,충주,2018-12-28,-11.0,-13.4,-6.4,7.9,-4.2,27.0,44.3
205702,충청북도,충주,2018-12-29,-8.9,-14.7,-2.5,7.9,-4.5,17.0,45.9
205703,충청북도,충주,2018-12-30,-8.9,-14.3,-1.0,7.7,-4.3,25.0,53.8
205704,충청북도,충주,2018-12-31,-7.6,-14.8,1.3,7.8,-4.3,24.0,56.9

In [32]:
# 다시 결측치 확인
df_weather.isnull().sum()

도                 0
지역                0
일시                0
평균기온(°C)        199
최저기온(°C)         28
최고기온(°C)         36
합계 일조 시간(hr)    319
평균 지면온도(°C)     238
최소 상대습도(%)       68
평균 상대습도(%)      334
dtype: int64

In [33]:
# 칼럼명에 측정단위 문자가 들어가 있어 코드 작성시 불편함 우려로 인해 칼럼 이름 재작성
df_weather = df_weather.rename(columns={'평균기온(°C)':'평균기온','최저기온(°C)':'최저기온','최고기온(°C)':'최고기온',
                          '합계 일조 시간(hr)':'합계일조시간','평균 지면온도(°C)':'평균지면온도',
                          '최소 상대습도(%)':'최소상대습도(%)','평균 상대습도(%)':'평균상대습도(%)'}).copy()
df_weather.head()

     도  지역         일시  평균기온  최저기온  최고기온  합계일조시간  평균지면온도  최소상대습도(%)  평균상대습도(%)
0  강원도  강릉 2013-01-01  -1.9  -6.7   3.8     6.5    -1.2       39.0       50.6
1  강원도  강릉 2013-01-02  -6.0  -9.9  -1.3     8.9    -2.2       15.0       29.9
2  강원도  강릉 2013-01-03  -7.5 -11.1  -0.7     9.0    -4.4       14.0       25.8
3  강원도  강릉 2013-01-04  -4.9 -10.6   1.8     9.0    -4.3       15.0       31.1
4  강원도  강릉 2013-01-05  -1.7  -5.4   2.8     8.9    -3.0       20.0       30.4

In [36]:
# '연도', '월' 2개의 새로운 칼럼 만들어주기
df_weather['연도'] = df_weather['일시'].dt.year
df_weather['월'] = df_weather['일시'].dt.month
df_weather.head()

,도,지역,일시,평균기온,최저기온,최고기온,합계일조시간,평균지면온도,최소상대습도(%),평균상대습도(%),연도,월
0,강원도,강릉,2013-01-01,-1.9,-6.7,3.8,6.5,-1.2,39.0,50.6,2013,1
1,강원도,강릉,2013-01-02,-6.0,-9.9,-1.3,8.9,-2.2,15.0,29.9,2013,1
2,강원도,강릉,2013-01-03,-7.5,-11.1,-0.7,9.0,-4.4,14.0,25.8,2013,1
3,강원도,강릉,2013-01-04,-4.9,-10.6,1.8,9.0,-4.3,15.0,31.1,2013,1
4,강원도,강릉,2013-01-05,-1.7,-5.4,2.8,8.9,-3.0,20.0,30.4,2013,1

In [41]:
# 연도, 월 별로 그룹핑하여 연도, 월별 기온~습도 평균값 집계
weather_g = df_weather.groupby(['연도','월'])['평균기온','최저기온','최고기온','합계일조시간','평균지면온도','최소상대습도(%)',
                              '평균상대습도(%)'].mean().round()
weather_g = weather_g.reset_index()
weather_g

      연도   월  평균기온  최저기온  최고기온  합계일조시간  평균지면온도  최소상대습도(%)  평균상대습도(%)
0   2013   1  -2.0  -6.0   3.0     6.0    -1.0       42.0       64.0
1   2013   2   1.0  -4.0   6.0     6.0     2.0       34.0       58.0
2   2013   3   7.0   0.0  13.0     8.0     8.0       30.0       58.0
3   2013   4  10.0   4.0  16.0     7.0    13.0       33.0       60.0
4   2013   5  18.0  12.0  24.0     8.0    21.0       41.0       67.0
..   ...  ..   ...   ...   ...     ...     ...        ...        ...
67  2018   8  27.0  23.0  32.0     7.0    32.0       56.0       77.0
68  2018   9  20.0  16.0  25.0     5.0    23.0       54.0       77.0
69  2018  10  13.0   8.0  19.0     7.0    15.0       42.0       72.0
70  2018  11   8.0   3.0  14.0     6.0     8.0       40.0       70.0
71  2018  12   1.0  -3.0   7.0     6.0     2.0       36.0       60.0

[72 rows x 9 columns]

## 한우 경매 가격 데이터 전처리

- 연도,월 별로 그룹핑한 평균값 데이터(변수명: weather_g)에 맞게 한우 경매 가격 데이터 포맷 수정

In [42]:
cow_price.shape

(34957, 23)

In [44]:
cow_price.columns

Index(['경매시간', '경매기준시분초', '경매 구분', '경매 구분 명', '도매시장코드', '도매시장명', '한우 평균경매 금액',
       '한우 평균경매 금액.1', '한우 1B+ 경매단가', '한우 3B 경매단가', '한우 경매 예상 두수',
       '한우 경매 낙찰 두수', '육우 경매 금액', '육우 전날 경매금액 차이', '육우 경매 예상 두수', '육우 경매 두수',
       '돼지 박피 경매 금액', '돼지 박피 전날 경매금액 차이', '돼지 박피 경매 두수', '돼지 탕박 경매 금액',
       '돼지 탕박 전날 경매금액 차이', '돼지 탕박 경매 두수', '돼지 경매 두수'],
      dtype='object')

In [45]:
# 필요한 칼럼만 추출
columns = ['경매시간','경매 구분 명','도매시장명','한우 평균경매 금액','돼지 탕박 경매 금액']
cow_price = cow_price[columns].copy()

In [46]:
cow_price.head()

       경매시간   경매 구분 명   도매시장명  한우 평균경매 금액  돼지 탕박 경매 금액
0  20181007  경매용+지육상장    신흥산업           0            0
1  20181007  경매용+지육상장    농협고령           0            0
2  20181007  경매용+지육상장    김해축공           0            0
3  20181007  경매용+지육상장  관성(홍성)           0            0
4  20181007  경매용+지육상장    농협음성           0            0

In [49]:
# "경매용+지육상장 and 도매시장명이 전국 and 한우 평균경매 금액이 0이 아닌" 데이터들만 추출
cow_price = cow_price[(cow_price['경매 구분 명'] == '경매용+지육상장') & (cow_price['도매시장명'] == '전국')].copy()
df_price = cow_price[cow_price['한우 평균경매 금액'] != 0]
df_price

           경매시간   경매 구분 명 도매시장명  한우 평균경매 금액  돼지 탕박 경매 금액
61     20180921  경매용+지육상장    전국       16612         4369
85     20180917  경매용+지육상장    전국       17965         5641
90     20180913  경매용+지육상장    전국       18757         5754
121    20180905  경매용+지육상장    전국       18369         5548
136    20180901  경매용+지육상장    전국       17108         5017
...         ...       ...   ...         ...          ...
34634  20130108  경매용+지육상장    전국       14040         3037
34666  20130107  경매용+지육상장    전국       13470         3122
34811  20130104  경매용+지육상장    전국       13945         2996
34867  20130103  경매용+지육상장    전국       13743         3103
34896  20130102  경매용+지육상장    전국       13203         3099

[720 rows x 5 columns]

In [50]:
df_price.dtypes

경매시간            int64
경매 구분 명        object
도매시장명          object
한우 평균경매 금액      int64
돼지 탕박 경매 금액     int64
dtype: object

In [52]:
# 경매시간 dtype을 str로 바꾸고 Datetime으로 바꾸기
df_price['경매시간'] = df_price['경매시간'].astype(str)
df_price['경매시간'] = pd.to_datetime(df_price['경매시간'])
df_price.dtypes

경매시간           datetime64[ns]
경매 구분 명                object
도매시장명                  object
한우 평균경매 금액              int64
돼지 탕박 경매 금액             int64
dtype: object

In [55]:
# '연도', '월' 두 개의 새로운 칼럼 만들기
df_price['연도'] = df_price['경매시간'].dt.year
df_price['월'] = df_price['경매시간'].dt.month
df_price.head()

          경매시간   경매 구분 명 도매시장명  한우 평균경매 금액  돼지 탕박 경매 금액    연도  월
61  2018-09-21  경매용+지육상장    전국       16612         4369  2018  9
85  2018-09-17  경매용+지육상장    전국       17965         5641  2018  9
90  2018-09-13  경매용+지육상장    전국       18757         5754  2018  9
121 2018-09-05  경매용+지육상장    전국       18369         5548  2018  9
136 2018-09-01  경매용+지육상장    전국       17108         5017  2018  9

In [59]:
# 경매시간별로 정렬
df_cow_price = df_price.sort_values(by=['경매시간']).reset_index(drop=True)
df_cow_price

          경매시간   경매 구분 명 도매시장명  한우 평균경매 금액  돼지 탕박 경매 금액    연도  월
0   2013-01-02  경매용+지육상장    전국       13203         3099  2013  1
1   2013-01-03  경매용+지육상장    전국       13743         3103  2013  1
2   2013-01-04  경매용+지육상장    전국       13945         2996  2013  1
3   2013-01-07  경매용+지육상장    전국       13470         3122  2013  1
4   2013-01-08  경매용+지육상장    전국       14040         3037  2013  1
..         ...       ...   ...         ...          ...   ... ..
715 2018-09-01  경매용+지육상장    전국       17108         5017  2018  9
716 2018-09-05  경매용+지육상장    전국       18369         5548  2018  9
717 2018-09-13  경매용+지육상장    전국       18757         5754  2018  9
718 2018-09-17  경매용+지육상장    전국       17965         5641  2018  9
719 2018-09-21  경매용+지육상장    전국       16612         4369  2018  9

[720 rows x 7 columns]

In [64]:
# 연도, 월 그룹핑해서 한우 평균경매 금액, 돼지탕박 경매금액의 합, 평균 데이터프레임 2개 생성
price_g_sum = pd.DataFrame(df_cow_price.groupby(['연도','월'])['한우 평균경매 금액','돼지 탕박 경매 금액'].sum()).reset_index()
price_g_mean = pd.DataFrame(df_cow_price.groupby(['연도','월'])['한우 평균경매 금액','돼지 탕박 경매 금액'].mean()).reset_index()
price_g_sum.head()

     연도  월  한우 평균경매 금액  돼지 탕박 경매 금액
0  2013  1      314207        71683
1  2013  2      255389        57774
2  2013  3      235797        56162
3  2013  4      258091        77355
4  2013  5      258268        77855

In [70]:
# 금액 소수점 없애기
price_g_mean = price_g_mean.round()
price_g_mean.head()

     연도  월  한우 평균경매 금액  돼지 탕박 경매 금액
0  2013  1     13092.0       2987.0
1  2013  2     12161.0       2751.0
2  2013  3     11790.0       2808.0
3  2013  4     11731.0       3516.0
4  2013  5     11229.0       3385.0

## 연도, 월 별 날씨 데이터와 가격 데이터 상관성 비교

- 연도,월별 날씨 데이터의 여러가지 기온,습도 요소와 비교
    * 연도, 월별 한우, 돼지 탕박 각 합계 금액과의 비교
    * 연도, 월별 한우, 돼지 탕박 각 평균 금액과의 비교

In [76]:
# 날씨 데이터 & 한우,돼지 합계 경매금액과의 비교
merge_df1 = pd.merge(weather_g, price_g_sum, how='outer', on=['연도','월'])
corr_data = merge_df1.corr()
corr_data.style.background_gradient()

In [77]:
# 날씨 데이터 & 한우,돼지 평균 경매금액과의 비교
merge_df2 = pd.merge(weather_g, price_g_mean, how='outer', on=['연도','월'])
corr_data = merge_df2.corr()
corr_data.style.background_gradient()

---
- 두 개의 상관관계 그래프로 이끌어 낼 수 있는 결론
    1. 한우, 돼지탕박 경매가격 **합계** 그래프에서는 그렇게 큰 상관성을 이끌어내지 못했다.
        - 하나 이끌어낸다면 **한우 경매금액** 과 **돼지 탕박 경매금액**은 0.9라는 매우 강한 양의상관관계를 보였다. => 역시 돼지, 소 둘 중 하나가 상승한다면 나머지도 상승하는 듯!
    2. 하지만 한우, 돼지탕박 경매가격 **평균** 그래프에서는 꽤 상관성이 보였다.
        - 돼지 탕박 경매 금액이 다른 기온,습도와의 상관성을 바라보자.
            - ``기온, 지면온도가 높을 수록, 상대습도가 높을수록 돼지 탕박 경매 금액이 올라가는 양의상관관계를 보였다.``
        - ``한우 평균경매 금액은 돼지 탕박에 비해 기온과 습도의 영향을 덜 받기는 한다. 하지만 상대습도와 양의상관관계를 약간 보임``
        - 합계 그래프 때보다는 약하지만 그래도 한우 평균경매 금액은 돼지탕박 경매금액과 0.45라는 양의상관관계를 보인다.
        
    3. 한가지 의문 점 : 합계로 집계할 때는 **'연도' 와 '소, 돼지 경매 가격'** 이 완전 음의 상관관계이다가 평균 집계로 하면 완전 반대의 양의 상관관계를 띰..개인적인 생각으로는 평균으로 집계하는 것이 맞을 것 같습니다... 연도가 지날 수록 소의 경매금액은 당연히 올라가지 않을까요..? 저의 개인 상식적인 사고에 의해서 그렇게 판단이 되는데 이에 대해 의견 부탁드리겠습니다..!