# 특일 정보 데이터 수집
---

In [2]:
from lxml import etree
import xml.etree.ElementTree as ElementTree
import pandas as pd

from urllib.request import urlopen
from urllib.parse import urlencode, unquote, quote_plus
import urllib

import time
import seaborn as sns

In [3]:
b = []
c = []
d = []

for year_ in range(2007,2019):
    request = urllib.request.Request("http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo?serviceKey=서비스키를 입력하세요Year="+str(year_)+"&numOfRows=30")
        
    request.get_method = lambda: 'GET'
    response_body = urlopen(request).read()
        
    tree = etree.fromstring(response_body)
    
    for media in tree.getiterator('item'):
        b.append(media.findtext("dateName"))
        c.append(media.findtext("isHoliday"))
        d.append(media.findtext("locdate"))

In [4]:
df2 = pd.DataFrame(b,columns=['공휴일명'])
df3 = pd.DataFrame(c,columns=['공휴일여부'])
df4 = pd.DataFrame(d,columns=['공휴일날짜'])

In [5]:
total = pd.concat([df2,df3,df4],axis=1)

In [6]:
total

     공휴일명 공휴일여부     공휴일날짜
0      신정     Y  20150101
1      설날     Y  20150218
2      설날     Y  20150219
3      설날     Y  20150220
4     삼일절     Y  20150301
..    ...   ...       ...
65     추석     Y  20180925
66  대체휴무일     Y  20180926
67    개천절     Y  20181003
68    한글날     Y  20181009
69  기독탄신일     Y  20181225

[70 rows x 3 columns]

In [7]:
total.to_csv('공휴일정보.csv',encoding='utf-8-sig')